
body{
        padding: 20px;  
        font-family:'Times New Roman', Times, serif;  
        text-align: center;
    }

.login{
    background-color:lightgrey;
    width: 400px;
    padding: 20px;    
    margin: auto;
    border-radius: 5px;
    box-shadow: 5px 10px 10px gray;   

}
.SocialButtons input{
    background-color: white;
    margin: 5px;
    margin-bottom: 30px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: blue;
    font-weight: bold;
    font-size: medium;
    border:solid 2px blue;

}
.MainForm input{
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    border: 0;
}
input[type=submit]{
    background-color: greenyellow;
    font-weight: bold;
    font-size: medium;
    border:solid black 2px;
}
input[value=G]{
    border-color: red;
    color:red
}
input[value=in]{
    border-color:#0072b1;
    color:#0072b1
}
.SocialButtons input:hover,input[type=submit]:hover{
    color: white;
    background-color: darkgreen;
    border-color: white;
}
.info :focus{
    outline: 0;
}
